# General
node_modules

# Builds
packages/*/dist

# Examples
examples/*/src/serviceWorker.*
examples/*/build
examples/*/storybook-static

# TODO: Refactor to TypeScript, and our style conventions.
packages/preset-ant-design
packages/preset-scss

# ESLint ignores 'hidden' folders by default.
!.storybook
